<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />
<div class="container main">
	<div class="table-responsive">
		<table id=""
			class="display table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>Date Requested</th>
					<th>Date Approved</th>
					<th>Status</th>
					<th>Request Approved</th>
					<th>Authorizer</th>
					<th>Checking Account Number</th>
					<th>Checking Checkbook Type</th>
					<th>Checking Checkbook Pages</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="request : ${checkingCheckbookRequestList}">
					<td data-th-text="${request.dateRequested}">...</td>
					<td data-th-text="${request.dateApproved}">...</td>
					<td data-th-text="${request.status}">...</td>
					<td data-th-text="${request.requestApproved}">...</td>
					<td data-th-text="${request.authorizer?.username}">...</td>
					<td data-th-text="${request.checkingAccount?.number}">...</td>
					<td data-th-text="${request.checkingCheckbook?.type}">...</td>
					<td data-th-text="${request.checkingCheckbook?.numberOfPages}">...</td>
					<td>
						<form th:action="@{/admin/approveCheckbook}" method="post">
							<div th:if="${request.requestApproved == false}"
								class="form-group">
								<input type="hidden" name="requestId" id="requestId"
									th:value="${request.id}" /> <input type="hidden"
									name="accountType" id="accountType" th:value="Checking" />
								<button class="btn btn-primary" type="submit">Approve</button>
							</div>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-responsive">
		<table id="checkingTransactions"
			class="display table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>Date Requested</th>
					<th>Date Approved</th>
					<th>Status</th>
					<th>Request Approved</th>
					<th>Authorizer</th>
					<th>Savings Account Number</th>
					<th>Savings Checkbook Type</th>
					<th>Savings Checkbook Pages</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="request : ${savingsCheckbookRequestList}">
					<td data-th-text="${request.dateRequested}">...</td>
					<td data-th-text="${request.dateApproved}">...</td>
					<td data-th-text="${request.status}">...</td>
					<td data-th-text="${request.requestApproved}">...</td>
					<td data-th-text="${request.authorizer?.username}">...</td>
					<td data-th-text="${request.savingsAccount?.number}">...</td>
					<td data-th-text="${request.savingsCheckbook?.type}">...</td>
					<td data-th-text="${request.savingsCheckbook?.numberOfPages}">...</td>
					<td>
						<form th:action="@{/admin/approveCheckbook}" method="post">
							<div th:if="${request.requestApproved == false}"
								class="form-group">
								<input type="hidden" name="requestId" id="requestId"
									th:value="${request.id}" />
								<input type="hidden"
									name="accountType" id="accountType" th:value="Savings" />
								<button class="btn btn-primary" type="submit">Approve</button>
							</div>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div th:replace="common/header :: body-bottom-scripts" /></div>
<script>
	$(document).ready(function() {
		$('table.display').DataTable();
	});
</script>
</body>
</html>